# Default ignored files
/shelf/
/workspace.xml
/.idea
*.log
**/.scannerwork
**/*.env
.vscode
**/*.jtl
ziti\docker-compose.yml
ziti
archived-logs


# **/*.jwt 
**/identities
\ziti/docker-compose.yml

\reports
**/*.html
**/*.css 